<p>
  <b>Project:</b>
  <%= @project.name %>
</p>

<p>
	<b> Tasks: </b>
	<% comment do %>
	<% @project.tasks.each do |t| %>
	<br /><%= t.name %>
	<% end %>
	<% end %>
</p>

<%= link_to 'Back', '/'+session[:current_team_name] %>